* {
    margin: 0;
    padding: 0;
}

.pic {  
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.header {
    background-color: grey;
    height: 80px;
    display: block;
}

.inner-header {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.navigation a:hover {
    background-color: darkgrey;
}

section {
    padding: 30px;
    margin-right: 20%;
    margin-left: 20%;
}

h2 {
    font-size: 20pt;
    border-bottom: 2px solid;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

p {
    font-size: 15pt;
}